
  <!-- Imagen horizontal de ancho completo -->
  <div class="full-width-image">
    <img src="https://davidstivenmoreno36912.github.io/Tienda-Online/assets/img/preparacion.jpg" alt="Preparación">

  </div>
  
  <div style="height: 100px;"></div>

  <div style="height: 100px;"></div>

  <div style="height: 100px;"></div>
  
  <div style="height: 100px;"></div>





<div class="container">
  <h1 class="text-center"> Bienvenido a nuestra tienda online de Aceites Esenciales para la vida Medical Sinergia</h1>

  <!-- Video de YouTube -->
  <div class="video-container">
      <iframe 
      width="560" 
      height="315" 
      src="https://www.youtube.com/embed/TOGaRVDWxfY" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      allowfullscreen>
      </iframe>
  </div>



  <div class="container">
    <h1 class="text-center">Beneficios de los Aceites Esenciales</h1>

  

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-purple mb-2"><i class="fas fa-heartbeat"></i> Beneficios Físicos</h2>
                    <p class="card-text mb-1">
                        Relajación muscular: Aceites como lavanda, menta y romero se utilizan para aliviar dolores musculares y reducir la inflamación.
                    </p>
                    <p class="card-text mb-1">
                        Mejora del sistema respiratorio: Eucalipto, árbol de té y menta ayudan a descongestionar vías respiratorias y combatir alergias o resfriados.
                    </p>
                    <p class="card-text mb-1">
                        Alivio del dolor: El aceite de menta tiene propiedades analgésicas, útil para cefaleas y migrañas.
                    </p>
                    <p class="card-text mb-1">
                        Cuidado de la piel: El aceite de árbol de té es eficaz para tratar acné, infecciones o heridas menores. Aceites como el de rosa mosqueta ayudan a regenerar tejidos y reducir cicatrices.
                    </p>
                    <p class="card-text mb-1">
                        Fortalecimiento del sistema inmune: Algunos aceites tienen propiedades antimicrobianas (como clavo y orégano), ayudando a prevenir infecciones.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-purple mb-2"><i class="fas fa-smile"></i> Beneficios Emocionales</h2>
                    <p class="card-text mb-1">
                        Reducción del estrés y ansiedad: La lavanda, bergamota y manzanilla tienen efectos calmantes, ayudando a disminuir niveles de cortisol.
                    </p>
                    <p class="card-text mb-1">
                        Mejora del sueño: La lavanda y el incienso inducen un estado de relajación que facilita el sueño profundo.
                    </p>
                    <p class="card-text mb-1">
                        Energía y motivación: Aceites como limón, menta y naranja dulce aportan frescura y energía, favoreciendo la concentración y el buen ánimo.
                    </p>
                    <p class="card-text mb-1">
                        Equilibrio emocional: El uso de aceites como geranio o ylang-ylang ayuda a estabilizar emociones, combatiendo síntomas leves de depresión o irritabilidad.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-purple mb-2"><i class="fas fa-home"></i> Otros Beneficios y Usos</h2>
                    <p class="card-text mb-1">
                        Aromaterapia en casa: Puedes usarlos en difusores para crear ambientes relajantes o energizantes.
                    </p>
                    <p class="card-text mb-1">
                        Masajes: Mezclados con aceites portadores (como aceite de coco o almendras), son ideales para masajes terapéuticos.
                    </p>
                    <p class="card-text mb-1">
                        Limpieza del hogar: Algunos aceites (como limón y árbol de té) tienen propiedades antibacterianas que los hacen útiles para desinfectar superficies.
                    </p>
                    <p class="card-text mb-1">
                        Perfumes naturales: Aceites como la vainilla, lavanda y rosa se usan en perfumería por su aroma duradero.
                    </p>
                    <p class="card-text mb-1">
                        Meditación y espiritualidad: El incienso y la mirra se emplean para crear ambientes de conexión espiritual.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-width-image">
  <img src="/assets/img/masaje.jpg" alt="">

  <div style="height: 100px;"></div>

  <div style="height: 100px;"></div>

  <div style="height: 100px;"></div>
  
  <div style="height: 100px;"></div>


</div>



<div class="divider"></div>

<div class="divider2"></div>

<div style="height: 100px;"></div>

<div style="height: 100px;"></div>



<!-- Nueva sección de información -->
<div class="container text-center center-content">
    <h2>Como emprender, crear tu propio negocio o tener super descuentos</h2>
    <h5>¡Si quieres ser parte de nuestro equipo tenemos 3 opciones que querrás elegir! Date la oportunidad de poder ayudarte y crecer económicamente con nosotros.</h5>
</div>



<div class="container">
    <div class="row mt-4">
  
      <!-- Tarjeta 1: Consumo con Descuentos -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-purple text-center">
              <i class="fas fa-percent"></i> Consumo con Descuentos
            </h2>
            <p class="card-text">
              Experimenta el poderoso efecto de los aceites esenciales en tu salud física y emocional. 
              Al aprender a usarlos, podrás acompañar tu cuerpo a sentirse mejor sin efectos adversos ni dependencias. 
              Con tu membresía, recibirás un 25% de descuento permanente, sin obligación de compras mensuales.
            </p>
             <a 
            href="https://api.whatsapp.com/send?phone=573148066992&text=Hola,%20estoy%20interesado%20en%20el%20Consumo%20con%20Descuentos%20de%20doTERRA"
            class="btn btn-success mt-3 d-block"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-whatsapp"></i> Contactar por WhatsApp
          </a>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 2: Compartir -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-purple text-center">
              <i class="fas fa-book-open"></i> Compartir
            </h2>
            <p class="card-text">
              Además de usar los aceites esenciales en tu vida diaria, puedes compartirlos con familiares y amigos o 
              venderlos por catálogo. ¡Gana puntos de canje y obtén ingresos adicionales mientras promueves bienestar a otros!
            </p>
            <a 
            href="https://api.whatsapp.com/send?phone=573148066992&text=Hola,%20me%20interesa%20saber%20más%20sobre%20compartir%20aceites%20esenciales%20y%20trabajar%20con%20el%20catalogo"  
            class="btn btn-success mt-3 d-block"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-whatsapp"></i> Contactar por WhatsApp
          </a>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 3: Emprender tu Propio Negocio -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-purple text-center">
              <i class="fas fa-briefcase"></i> Emprender tu Propio Negocio
            </h2>
            <p class="card-text">
              Con doTERRA, tienes la oportunidad de emprender tu propio negocio y trabajar desde cualquier lugar del mundo. 
              Ofrecemos un plan de pagos generoso y un producto en tendencia, permitiéndote liderar un proyecto en tu país. 
              ¡Es tu momento de ser pionero y crear un futuro prometedor!
            </p>
            <a 
            href="https://api.whatsapp.com/send?phone=573148066992&text=Hola,%20estoy%20interesado%20en%20tus%20productos%20Doterra%20y%20me%20gustaría%20saber%20más%20e%20ingresar%20al%20equipo." 
            class="btn btn-success mt-3 d-block"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-whatsapp"></i> Contactar por WhatsApp
          </a>
          
          </div>
        </div>
      </div>
  
    </div>
  </div>
  

</div>
